<div class="container">

		<!-- TITLE -->
   	<h1><span class="glyphicon glyphicon-time"></span> Pending tasks</h1>
   	
   		<!-- LIVE SEARCH -->
	<div class="col-xs-4">
		<div class="input-group">
    		<input type="text" class="form-control" ng-model="searchText"/>
    		<span class="input-group-addon">
        		<i class="glyphicon glyphicon-search"></i>
    		</span>
    	</div>	
    </div>
    
   		<!-- PENDING TASKS LIST -->
	<table class="table table-hover">
    	<thead>
      		<tr>
        		<th class="text-info"><h4>Task Name</h4></th>
        		<th class="text-info"><h4>Date</h4></th>
        		<th class="text-info"><h4>Category</h4></th>
        		<th class="text-info"><h4>Priority</h4></th>
        		<th width="150"class="text-info"><h4>Action</h4></th>
      		</tr>
    	</thead>
    	<tbody ng-controller="TasksActionsController">
      		<tr ng-repeat="task in tasks | filter:searchText | filter: { isdone:'false'} | orderBy:'-id'" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        		<td>{{task.taskname}}</td>
        		<td>{{task.performdate | date:'dd/MM/yyyy @ h:mma'}}</td>
        		<td>{{task.category}}</td>
        		<td>{{task.priority}}</td>
        		<td>
        			<a ng-href='' ng-click='checkTask(task.id)'>
        				<span ng-show="Icon" class="glyphicon glyphicon-ok" style='font-size: 17px'></span>
        			</a> &nbsp;
        			<a href='#/editTask{{task.id}}'>
        				<span ng-show="Icon" class="glyphicon glyphicon-pencil" style='font-size: 17px'></span>
        			</a> &nbsp;
        			<a ng-href='' ng-click='deleteTask(task.id)'>
        				<span ng-show="Icon" class="glyphicon glyphicon-trash" style='font-size: 17px'></span>
        			</a>
        		</td>
      		</tr>     		
   		</tbody>
  	</table>
  	
  	<a href="#/addTask">
		<button type=button class="btn btn-primary" >
			<span class="glyphicon glyphicon-plus" ></span>
		</button> 
	</a>
  	
  	<h1><span class="glyphicon glyphicon-list-alt"></span> Completed tasks</h1>
  	
  	<table class="table table-hover">
    	<thead>
      		<tr>
        		<th class="text-info"><h4>Task Name</h4></th>
        		<th class="text-info"><h4>Date</h4></th>
        		<th class="text-info"><h4>Category</h4></th>
        		<th class="text-info"><h4>Priority</h4></th>
        		<th width="150"class="text-info"><h4>Action</h4></th>
      		</tr>
    	</thead>
    	<tbody ng-controller="TasksActionsController">
      		<tr ng-repeat="task in tasks | filter: { isdone:'true'} | orderBy:'-id'" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        		<td>{{task.taskname}}</td>
        		<td>{{task.performdate | date:'dd/MM/yyyy @ h:mma'}}</td>
        		<td>{{task.category}}</td>
        		<td>{{task.priority}}</td>
        		<td>
        			<a ng-href='' ng-click='deleteTask(task.id)'>
        				<span ng-show="Icon" class="glyphicon glyphicon-trash" style='font-size: 17px'></span>
        			</a>
        		</td>
      		</tr>     		
   		</tbody>
  	</table>
  	
  		<!-- LOWER BUTTONS -->

	
</div>